:root {
    --dark: #4F1675;
    --middle: #A52FF5;
    --light: #C479F7;
    --white: #FFFFFF;
    --text: #2B2B2B;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--dark);
    color: var(--white);
}

header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
    border: 5px double var(--white);
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
   
}

header h1 {
    font-weight: bold; 
    font-size: 36px;
    color: var(--text);
    margin: 10;
   

}
header a {
    text-decoration: none;
    color: var(--text);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 10px;
    font-weight:light;
    font-size: 1.55vw;
    
}

header nav ul li a:hover {
    background: var(--dark);
    color: var(--white);
    border-radius: 15px;
    text-shadow: none;
}

/*header end */

/* hero style start */

.hero {
    padding: 5px 10px;
    background-image: url(../images/herostock.jpeg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}


.hero-sub {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
}

.hero-sub h2 {
    font-size: 55px;
    font-style:oblique;
    color: var(--white);
    text-shadow: 0 0 10px rgba(255, 255, 255);   
}

.hero-sub p {
    font-size: 20px; 
    color: var(--white);
    font-weight: light;
    margin: 5px 0 15px 0;
}
/* hero style end */

/* article section - bio, work */


/* about me section */

.about-box {
   margin: 100px auto;
   padding-right: 100px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex: 1 100%;
   justify-content: center;
   background-color: var(--middle);
}

.section-title {
    color: var(--white);
    font-size: 50px;
    font-weight: lighter;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    flex: 1 20%;
}

.bio-section {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    border-left: 5px solid var(--white);
  
}

.bio-section p {
    width: 70%;
    margin-bottom: 20px;
    color: var(--text);
    line-height: 1.7;
    font-size: 18px;
    padding-top: 20px;
}

.bio-image {
    margin-left: 20px;
}

.bio-image img {
    max-width: 200px;
    border: 5px solid var(--white);
    height: auto;
    float: left;
    margin: 20px 20px 0 0; 
    flex: 2 0 0; 
    
}


.works {
    margin: 50px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark);
}

.run-buddy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../images/run-buddy.png");
    background-size:auto;
    background-position: contain;
    background-position: 80%;
    background-attachment:local;
   
    

}

.app-title {
    font-size: 20px;
    margin: 20px;
    background-color: var(--light);
    flex: 1;
}

